body {
  padding-top: 20px; /* 上方加 20px 空間 */
}

.contact-section {
    padding: 60px 20px;
    background-color: #cd66d4;
    text-align: center;
  }
  
  .contact-section h1 {
    color: #d2a0ec;
    margin-bottom: 30px;
  }
  
  .contact-info p {
    margin: 10px 0;
    font-size: 16px;
    color: #bd6de7;
  }


  html, body {
    height: 100%;
    margin: 0;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main, section {
    flex: 1;
  }
  
  #footer-placeholder {
    margin-top: auto;
  }
  