.main-nav {
  background: #b623fa;
}

.nav-links a {
  color: #ffa256;
}

.dropdown {
  position: relative;
}

/* 下拉選單 */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(219, 180, 193, 0.95);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 0;
  border-radius: 10px;
  min-width: 150px;
  z-index: 1000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li a {
  display: block;
  padding: 12px 18px;
  color: #6b007b;
  white-space: nowrap;
  font-weight: 500;
  font-size: 0.95rem;
}

.dropdown-content li a:hover {
  background-color: #cccccc;
  color: #000;
}