body {
  padding-top: 60px; /* 上方加 20px 空間 */
}

.main-nav {
  background: #22beb6a6;
}

.nav-links a {
  color: #6670a8;
}

.dropdown {
  position: relative;
}

/* 下拉選單 */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(219, 180, 193, 0.95);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 0;
  border-radius: 10px;
  min-width: 150px;
  z-index: 1000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li a {
  display: block;
  padding: 12px 18px;
  color: #6b007b;
  white-space: nowrap;
  font-weight: 500;
  font-size: 0.95rem;
}

.dropdown-content li a:hover {
  background-color: #cccccc;
  color: #000;
}

.course-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #b959c2;
  }
  
  .course-section h1 {
    color: #0930dd;
    margin-bottom: 40px;
  }
  
  .course-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .course-card {
    background-color: white;
    padding: 20px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(184, 99, 184, 0.1);
    text-align: left;
  }
  
  .course-card h3 {
    color: #8800cc;
    margin-bottom: 10px;
  }


  html, body {
    height: 100%;
    margin: 0;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main, section {
    flex: 1;
  }
  
  #footer-placeholder {
    margin-top: auto;
  }
  