body {
  padding-top: 60px; /* 上方加 20px 空間 */
}

.dropdown {
  position: relative;
}

/* 下拉選單 */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(219, 180, 193, 0.95);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 0;
  border-radius: 10px;
  min-width: 150px;
  z-index: 1000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li a {
  display: block;
  padding: 12px 18px;
  color: #6b007b;
  white-space: nowrap;
  font-weight: 500;
  font-size: 0.95rem;
}

.dropdown-content li a:hover {
  background-color: #cccccc;
  color: #000;
}

.faq-section {
    padding: 60px 20px;
    background-color: #fff5fd;
    text-align: center;
  }
  
  .faq-section h1 {
    color: #4a0072;
    margin-bottom: 30px;
  }
  
  .faq-box {
    background-color: white;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }
  
  .faq-box h3 {
    color: #aa00ff;
    margin-bottom: 10px;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main, section {
    flex: 1;
  }
  
  #footer-placeholder {
    margin-top: auto;
  }
  