body {
  padding-top: 60px; /* 上方加 20px 空間 */
  background-color: #b092b8;
}

.dropdown {
  position: relative;
}

/* 下拉選單 */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(219, 180, 193, 0.95);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 0;
  border-radius: 10px;
  min-width: 150px;
  z-index: 1000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li a {
  display: block;
  padding: 12px 18px;
  color: #6b007b;
  white-space: nowrap;
  font-weight: 500;
  font-size: 0.95rem;
}

.dropdown-content li a:hover {
  background-color: #cccccc;
  color: #000;
}

.main-nav {
  background: #cccccc88;
}

.nav-links a {
  color: #9c7ccf;
}

.policy-section {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    padding: 60px 20px;
    background-color: #e3b6ee;
    color: #000000;
    text-align: center;
    font-size: 16px;
    line-height: 1.8;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }
  
  .policy-text {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    color: #4a0072;
    font-size: 16px;
    line-height: 1.8;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main, section {
    flex: 1;
  }
  
  #footer-placeholder {
    margin-top: auto;
  }
  