body {
  padding-top: 60px; /* 上方加 20px 空間 */
  background-color: rgba(72, 72, 153, 0.534);
}

.dropdown {
  position: relative;
}

/* 下拉選單 */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(219, 180, 193, 0.95);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 0;
  border-radius: 10px;
  min-width: 150px;
  z-index: 1000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li a {
  display: block;
  padding: 12px 18px;
  color: #6b007b;
  white-space: nowrap;
  font-weight: 500;
  font-size: 0.95rem;
}

.dropdown-content li a:hover {
  background-color: #cccccc;
  color: #000;
}

.main-nav {
  background: #65d1c8b4;
}

.nav-links a {
  color: #674b94;
}

.contact-section {
    padding: 60px 20px;
    background-color: rgba(72, 72, 153, 0.534);
    text-align: center;
  }
  
  .contact-section h1 {
    color: 	#FF8EFF;
    margin-bottom: 30px;
  }
  
  .contact-info p {
    margin: 10px 0;
    font-size: 16px;
    color: #bd6de7;
  }


  html, body {
    height: 100%;
    margin: 0;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main, section {
    flex: 1;
  }
  
  #footer-placeholder {
    margin-top: auto;
  }
  