/* footer.css */

.main-footer {
  background-color: #d6d1d198;
  color: #333;
  padding: 30px 20px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #867c7c73;
  position: relative;
  z-index: 10;
}

.main-footer .footer-content p {
  margin: 8px 0;
}

.main-footer a {
  color: #007BFF;
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s ease;
}

.main-footer a:hover {
  color: #0056b3;
}

@media screen and (max-width: 768px) {
  .main-footer {
    font-size: 13px;
    padding: 20px 10px;
  }
}
