<!-- components/nav.html -->
<nav id="mainNav" class="main-nav">
  <link rel="stylesheet" href="../components/nav.css">
    <div class="logo"><a href="../web-core/index.html">飛翔少年</a></div>
    <ul class="nav-links">
      <li><a href="../../admin/login.html">後臺</a></li>
      <li><a href="../web-core/index.html">首頁</a></li>
      <li><a href="fjedu-website/web-core/about.html">關於我們</a></li>
      <li><a href="../web-core/news.html">最新消息</a></li>
      <li><a href="../web-core/exam-info.html">備考情報</a></li>
      <li><a href="../web-core/results.html">學習成果</a></li>
      <li><a href="../web-core/teachers.html">師資介紹</a></li>
      <li class="dropdown">
        <a href="#">課程介紹</a>
        <ul class="dropdown-content">
          <li><a href="../web-core/courses-folder/courses-tw.html">台灣部</a></li>
          <li><a href="../web-core/courses-folder/courses-intl.html">國際部</a></li>
        </ul>
      </li>
      <li><a href="../web-core/faq.html">常見問題</a></li>
      <li><a href="../web-core/register.html">線上報名</a></li>
      <li><a href="../web-core/policy.html">隱私條款</a></li>
      <li><a href="../web-core/contact.html">聯絡我們</a></li>
    </ul>
    <div class="hamburger">&#9776;</div>
  </nav>
  